<div class="footer">
  <div class="footer-desktop">
    <div class="nav">
      <ul>
        <li><img class="logo"src="/<%= page_name %>/logo_<%= page_name %>.png" alt="Enspirit"></li>
        <li><a href="#">Conditions générales de vente</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Webmaster</a></li>
      </ul>
    </div>
    <ul class="contact-link">
      <li><a class="inactive" href="#contact">Contact</a></li>
    </ul>
  </div>
  <div class="footer-tablet">
    <div class="nav">
      <ul>
        <li><img class="logo"src="/<%= page_name %>/logo_<%= page_name %>.png" alt="Enspirit"></li>
        <li><a href="#">Conditions générales de vente</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Webmaster</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-mobile">
    <div class="logo">
      <img src="/<%= page_name %>/logo_<%= page_name %>.png" alt="Enspirit">
    </div>
    <ul class="links">
      <li><a class="inactive" href="#">Conditions générales de vente</a></li>
      <li><a class="inactive" href="#">Privacy policy</a></li>
      <li><a class="inactive" href="#">Webmaster</a></li>
    </ul>
  </div>
</div>
