<div class="section mainnav-desktop">
  <div class="nav">
    <ul>
      <li><a href="/"><img class="logo"src="/<%= page_name %>/logo_<%= page_name %>.svg" alt="Enspirit"></a></li>
      <li><a <%= active_css_class(:homepage) %>    href="/">Home</a></li>
      <li><a <%= active_css_class(:vision) %>      href="/vision">Vision</a></li>
      <li><a <%= active_css_class(:references) %>  href="/references">Références</a></li>
      <li><a <%= active_css_class(:partenaires) %> href="/partenaires">Partenaires</a></li>
      <li><a <%= active_css_class(:logiciels) %>   href="/logiciels">Logiciels</a></li>
      <li><a <%= active_css_class(:mentors) %>     href="/mentors">Mentors</a></li>
    </ul>
  </div>
  <ul class="contact-link">
    <li><a href="#Contact">Contact</a></li>
  </ul>
</div>
