<div class="header header-homepage">
  <%= erb :"partials/mainnav-desktop" %>
  <%= erb :"partials/mainnav-tablet" %>
  <div class="header-illustration-XL">
    <img src="/homepage/header_XL.png" alt="image">
  </div>
  <div class="header-illustration-desktop">
    <img src="/homepage/header_desktop.png" alt="image">
  </div>
  <div class="header-illustration-tablet">
    <img src="/homepage/header_tablet.png" alt="image">
  </div>
  <div class="header-illustration-tablet2">
    <img src="/homepage/header_tablet2.png" alt="image">
  </div>
  <div class="header-illustration-mobile">
    <img src="/homepage/header_mobile.png" alt="image">
  </div>
  <div class="section introduction">
    <div class="text-area">
      <h1 class="mobile">L’informatique au service des humains, </br>pas l’inverse</h1>
      <p class="subtitle">Votre activité est résolument tournée vers l'environnement, l'économie collaborative, la transition, l'intelligence collective?</p>
      <p class="subtitle">Vous êtes le style d'organisation que nous aimons accompagner à utiliser le meilleur des technologies de l’information pour vous concentrer sur votre mission.</p>
    </div>
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/homepage/image.jpg" alt="image">
  </div>
  <div class="copy">
    <h2>Innover en se tournant vers vos clients</h2>
    <p class="body">Vous êtes une entreprise innovante, startup ou en croissance, et tournée vers ses clients? Souhaitez-vous libérer vos collaborateurs des tâches répétitives, pour les recentrer sur leur mission première?</p>
    <p class="body">Nous vous aidons à offrir à vos communautés une interface intuitive et efficace pour bénéficier de vos produits et services.</p>
    <div>
      <a class="btn btn-secondary" href="/services">Découvrez Enspirit</a>
    </div>
  </div>
</div>
<div class="section module reverse-mobile">
  <div class="copy">
    <h2>Un accompagnement par des experts qui comprennent votre métier</h2>
    <p class="body">Vous cherchez comment utiliser au mieux les technologies de l'information pour réaliser votre vision, dans le respect de vos collaborateurs et du monde autour de vous?</p>
    <p class="body">Nous vous offrons un accompagnement par des experts qui comprennent votre métier, et constituent autant une force de réalisation que de proposition.</p>
    <div>
      <a class="btn btn-secondary" href="/vision">Découvrez notre vision</a>
    </div>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/homepage/image.jpg" alt="image">
  </div>
</div>
<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/homepage/image.jpg" alt="image">
  </div>
  <div class="copy">
    <h2>Un pont entre les idées et la réalisation</h2>
    <p class="body">Vous cherchez à faire le pont entre idées académiques ou innovantes et réalisations concrètes? Vous souhaitez intégrer des techniques de pointe dans des logiciels sur mesure?</p>
    <p class="body">Nous avons l'habitude d'innover nous-mêmes, de travailler avec des chercheurs de pointe, et de convertir de l'abstrait en concret.</p>
    <div>
      <a class="btn btn-secondary" href="/references">Découvrez nos réalisations</a>
    </div>
  </div>
</div>

<%= erb :"partials/quick-menu" %>
<%= erb :"partials/contact" %>
<%= erb :"partials/footer" %>
