<div class="header header-homepage">
  <%= erb :"partials/mainnav-desktop" %>
  <%= erb :"partials/mainnav-tablet" %>
  <div class="section introduction">
    <div class="text-area">
      <p class="h1-mobile">L’informatique au service des humains, </br>pas l’inverse</p>
      <p class="subtitle">Votre activité est résolument tournée vers l'environnement, l'économie collaborative, la transition, le bien-être collectif?</p>
    </div>
  </div>
  <div class="illustrations-container" id="trigger">
    <div class="plan1" id="plan1">
      <img class="fluid-image element p1" src="/homepage/p1.png" alt="image">
      <img class="fluid-image element p2" src="/homepage/p2.png" alt="image">
    </div>
    <div class="plan2">
      <img class="fluid-image transition-background" src="/homepage/moon.png" alt="image">
    </div>
    <div class="plan3">
      <img class="fluid-image element s-planet" src="/homepage/small planet.png" alt="image">
      <img class="fluid-image element s-l-planet" src="/homepage/small light planet.png" alt="image">
      <img class="fluid-image element b-planet" src="/homepage/big planet.png" alt="image">
    </div>
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/homepage/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Innover en se tournant vers vos clients</p>
    <p class="body">Vous êtes une entreprise innovante, en croissance, tournée vers ses clients? Vous souhaitez libérer vos collaborateurs des tâches répétitives, pour les recentrer sur leur mission première? Vous souhaitez offrir à vos communautés une interface intuitive et efficace pour bénéficier de vos produits et services?</p>
    <button type="button" name="button" class="btn btn-secondary" href="#">Découvrez Enspirit</button>
  </div>
</div>

<div class="section module reverse-mobile">
  <div class="copy">
    <p class="h2">Un accompagnement par des experts qui comprennent votre métier</p>
    <p class="body">Vous cherchez comment utiliser au mieux les technologies de l'information pour réaliser votre vision? </br></br>Vous souhaitez un accompagnement par des experts qui comprennent votre métier, et constituent autant une force de réalisation que de proposition?</p>
    <button type="button" name="button" class="btn btn-secondary" href="#">Découvrez notre vision</button>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/homepage/image.jpg" alt="image">
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/homepage/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Un pont entre les idées et la réalisation</p>
    <p class="body">Vous cherchez à faire le pont entre idées académiques et réalisations concrètes? Et souhaitez intégrer des réalisations technologiques de pointe dans des logiciels sur mesure?</p>
  </div>

</div>

<%= erb :"partials/quick-menu" %>
<%= erb :"partials/contact" %>
<%= erb :"partials/footer" %>
