<div class="header header-logiciels">
  <%= erb :"partials/mainnav-desktop" %>
  <%= erb :"partials/mainnav-tablet" %>
  <div class="header-illustration-desktop">
    <img src="/logiciels/header_desktop.png" alt="image">
  </div>
  <div class="header-illustration-tablet">
    <img src="/logiciels/header_tablet.png" alt="image">
  </div>
  <div class="header-illustration-tablet2">
    <img src="/logiciels/header_tablet2.png" alt="image">
  </div>
  <div class="header-illustration-mobile">
    <img src="/logiciels/header_mobile.png" alt="image">
  </div>
  <div class="section introduction">
    <div class="text-area">
      <p class="h1">Logiciels</p>
      <p class="subtitle">On développe souvent pour les autres, mais on développe aussi pour nous. Parce qu'on en a envie, qu'on a une idée, qu'on veut réutiliser ou partager. Découvrez nos développements internes.</p>
    </div>
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/logiciels/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Klaro, gestion collaborative de l'information</p>
    <p class="body">Klaro est né d'un échec lors d'une de nos missions. La nécessaire rencontre entre nos clients qui souhaitaient un logiciel et les techniciens qui le leur construisaient n'a pas eu lieu correctement: communication trop difficile et manque d'alignement pour être efficaces sur un budget serré&hellip;<br/><br/>
    C'est la rencontre entre Victor (On Purpose) designer sur ce projet et Bernard qui a finit par se transformer en collaboration sur Klaro. Klaro est aujourd'hui utilisé pour créer des logiciels,... et pour mille autres projects où la collaboration, la communication et le sens des priorités fait la réussite des porteurs d'idées.</p>
  </div>
</div>

<div class="section module reverse-mobile">
  <div class="copy">
    <p class="h2">Webspicy, les web services comme spécifications fonctionnelles</p>
    <p class="body">Quelque part entre les tests unitaires - souvent éphémères - et les tests d'acceptance à travers l'UI - souvent lents et instables - Webspicy invite à investir dans la stabilité et la qualité des interfaces web services, en les modélisant comme spécifications sur l'état du système et transferts de données</p>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/logiciels/image.jpg" alt="image">
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/logiciels/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Doc-e-mate, si on gérait nos documents autrement?</p>
    <p class="body">L'idée initiale est de Benoit qui, au moment où il vient nous voir, n'en peut plus d'écrire des documents répétitifs dans Word... Contrats, Lettres, Factures, Notes de réunion, etc. Si, pour changer conclut-on, on séparait réellement le texte, le style, et les données structurées? Nous avons aujourd'hui un bon prototype! Benoit, lui, a changé de travail entretemps ;-)</p>
  </div>
</div>

<%= erb :"partials/quick-menu" %>
<%= erb :"partials/contact" %>
<%= erb :"partials/footer" %>
