<div class="header header-mentors">
  <%= erb :"partials/mainnav-desktop" %>
  <%= erb :"partials/mainnav-tablet" %>
  <div class="header-illustration-XL">
    <img src="/mentors/header_XL.png" alt="image">
  </div>
  <div class="header-illustration-desktop">
    <img src="/mentors/header_desktop.png" alt="image">
  </div>
  <div class="header-illustration-tablet">
    <img src="/mentors/header_tablet.png" alt="image">
  </div>
  <div class="header-illustration-tablet2">
    <img src="/mentors/header_tablet2.png" alt="image">
  </div>
  <div class="header-illustration-mobile">
    <img src="/mentors/header_mobile.png" alt="image">
  </div>
  <div class="section introduction">
    <div class="text-area">
      <h1>Mentors</h1>
      <p class="subtitle">Dans un métier comme le nôtre c'est l'expérience et les lectures qui créent la compétence et l'ouverture d'esprit. Découvrez d'où l'on vient, découvrez qui nous a fait, découvrez ce qu'on lit.</p>
    </div>
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/mentors/axel.png" alt="image">
  </div>
  <div class="copy">
    <h2>Requirements Engineering, par Axel van Lamsweerde</h2>
    <p class="body">La méthodolgique qui explique pourquoi nous savons écouter, compendre, challenger, analyser, préciser (et par ailleurs le promoteur de thèse de Bernard)</p>
  </div>
</div>

<div class="section module reverse-mobile">
  <div class="copy">
    <h2>Databases, Types and the Relational Model, par Chris J. Date et Hugh Darwen</h2>
    <p class="body">Une de nos plus grandes sources d'inspiration, une vision des bases de données des plus sérieuses, qui forme l'esprit et l'esprit critique, et offre une vraie longueur d'avance sur le terrain.</p>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/mentors/cj.png" alt="image">
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/mentors/eric.png" alt="image">
  </div>
  <div class="copy">
    <h2>The Lean Startup, par Eric Ries</h2>
    <p class="body">Un mix rafraîchissant de science et d'entreprenariat, qui guide la gestion des idées innovantes, particulièrement quand le budget ou les resources sont serrées. Les nôtres ou celles de nos clients.</p>
  </div>
</div>

<%= erb :"partials/quick-menu" %>
<%= erb :"partials/contact" %>
<%= erb :"partials/footer" %>
