<div class="header header-partenaires">
  <%= erb :"partials/mainnav-desktop" %>
  <%= erb :"partials/mainnav-tablet" %>
  <div class="header-illustration-XL">
    <img src="/partenaires/header_XL.png" alt="image">
  </div>
  <div class="header-illustration-desktop">
    <img src="/partenaires/header_desktop.png" alt="image">
  </div>
  <div class="header-illustration-tablet">
    <img src="/partenaires/header_tablet.png" alt="image">
  </div>
  <div class="header-illustration-tablet2">
    <img src="/partenaires/header_tablet2.png" alt="image">
  </div>
  <div class="header-illustration-mobile">
    <img src="/partenaires/header_mobile.png" alt="image">
  </div>
  <div class="section introduction">
    <div class="text-area">
      <p class="h1">Partenaires</p>
      <p class="subtitle">Nous avons le plaisir de travailler entre collègues, en famille parfois, entre amis aussi. Découvrez ici qui d'autre vous croiserez sans doute si nous travaillons ensemble.</p>
    </div>
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/partenaires/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Au CETIC&hellip;</p>
    <p class="body">Christophe, Renaud et Fabian nous proposent des projets, collaborent comme ingénieurs et chercheurs et apportent une innovation de pointe, par exemple des techniques avancées d'optimisation combinatoire.</p>
  </div>
</div>

<div class="section module reverse-mobile">
  <div class="copy">
    <p class="h2">Chez Quadrabee&hellip;</p>
    <p class="body">Louis nous apporte une expertise supplémentaire en hébergement, devops & architecture. Il monte en support sur nos projets de développement et collabore à nos projets open-source.</p>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/partenaires/image.jpg" alt="image">
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/partenaires/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Chez On purpose&hellip;</p>
    <p class="body">Victor et Alice sont nos références en expérience utilisateur et design de qualité. Si votre projet nécessite une qualité supérieure d'interface utilisateur, ils apporteront cette touche qui transforme un excellent logiciel fonctionnel en un logiciel d'exception.</p>
  </div>
</div>

<%= erb :"partials/quick-menu" %>
<%= erb :"partials/contact" %>
<%= erb :"partials/footer" %>
