<div class="header header-references">
  <%= erb :"partials/mainnav-desktop" %>
  <%= erb :"partials/mainnav-tablet" %>
  <div class="section introduction">
    <div class="text-area">
      <p class="h1">References</p>
      <p class="subtitle">Notre plus grande fierté c'est quand les utilisateurs de nos développements expriment leur contentement. Souvent nos clients, bien sûr. Découvrez quelques histoires ici.</p>
    </div>
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/references/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">SAM-Drive</p>
    <p class="body">SAM-Drive est une plateforme de transport collectif qui s'adresse à toute la famille: enfants, ados, parents, seniors.<br/><br/>Michel nous a confié la direction technologique de la plateforme fin 2016. Depuis, nous conseillons, architecturons, analysons, codons, testons en équipe multi-disciplinaire interne/externe.</p>
  </div>
</div>

<div class="section module reverse-mobile">
  <div class="copy">
    <p class="h2">BeeODiversity</p>
    <p class="body">BeeODiversity propose des solutions originales de monitoring et d'analyse de l'environnement. <br/><br/>Aider à la symbiose homme/abeille pour la préservation de l'écosystème nous a immédiatement inspirés. Quand Kim, Michael et Sven nous ont demandé de les aider à s'affranchir de manipulations manuelles dans Excel pour l'analyse des données et la mise à disposition des résultats à leurs clients, on s'est sentis en pleine zone de confiance.</p>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/references/image.jpg" alt="image">
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/references/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">JZH Partners</p>
    <p class="body">Une coopérative d'ingénieurs et d'architectes qui gère ses processus informatiques en interne dans Excel et Access.<br/><br/>
    Et quand ça coince un peu, pas de révolution, pas d'ERP, on fait appel à des experts qui savent écouter. Pas mal de coaching, un peu de PostgreSQL, un soupçon de logiciels libres, quelques développements web... Sans changer aucune habitude d'encodage par les utilisateurs, on fait s'exprimer les données, pour des décisions collectives plus rapides et plus éclairées.</p>
  </div>
</div>

<%= erb :"partials/quick-menu" %>
<%= erb :"partials/contact" %>
<%= erb :"partials/footer" %>
