<div class="header header-services">
  <%= erb :"partials/mainnav-desktop" %>
  <%= erb :"partials/mainnav-tablet" %>
  <div class="header-illustration-XL">
    <img src="/services/header_XL.png" alt="image">
  </div>
  <div class="header-illustration-desktop">
    <img src="/services/header_desktop.png" alt="image">
  </div>
  <div class="header-illustration-tablet">
    <img src="/services/header_tablet.png" alt="image">
  </div>
  <div class="header-illustration-tablet2">
    <img src="/services/header_tablet2.png" alt="image">
  </div>
  <div class="header-illustration-mobile">
    <img src="/services/header_mobile.png" alt="image">
  </div>
  <div class="section introduction">
    <div class="text-area">
      <p class="h1">Services</p>
      <p class="subtitle">Que vous cherchiez du conseil, du développement, ou du coaching méthodologique, vous êtes aux bon endroit! C'est de la transversalité et complémentarité de ces trois pôles que naît notre expertise.</p>
    </div>
  </div>
</div>

<div class="section module reverse-mobile">
  <div class="copy">
    <p class="h2">Recherche & développement informatique</p>
    <p class="body">Enspirit offre un pont entre trois mondes: la recherche académique, le développement technologique, et le développement d'entreprise.</p>
    <p class="body">Mais avant même tout cela, nous sommes développeurs, architectes, db admins, testeurs, devops, etc. Parce qu'on aime le terrain, qu'on aime programmer quel que soit le langage, et qu'on est un peu geeks!</p>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/services/image.jpg" alt="image">
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/services/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Clarification des besoins et Product Owning</p>
    <p class="body">Un projet technologique réussi, c'est avant tout la compréhension des besoins des utilisateurs, et leur représentation au sein même du processus de développement.</p>
    <p class="body">Qu'il s'agisse de préciser - voire de mathématiser - des spécifications complexes, ou plus pragmatiquement d'accompagner une équipe de développement agile dans ses choix, nous avons l'expertise et les méthodologies nécessaires pour accompagner les projets technologiques de petite et grande taille&hellip; en focalisant sur vos propres utilisateurs.</p>
  </div>
</div>

<div class="section module">
  <div class="copy">
    <p class="h2">Coaching technique, testing & code review</p>
    <p class="body">La qualité de développements techniques dépend en partie du nombre de paire d'yeux qui se sont posés sur les problèmes et leurs solutions. Vous souhaitez gagner en qualité? Ajoutez un regard extérieur!</p>
    <p class="body"></p>
  </div>
  <div class="illustration">
    <img class="fluid-image" src="/services/image.jpg" alt="image">
  </div>
</div>

<div class="section module">
  <div class="illustration">
    <img class="fluid-image" src="/services/image.jpg" alt="image">
  </div>
  <div class="copy">
    <p class="h2">Transformation Digitale et Cyber Sécurité</p>
    <p class="body">Nous sommes prestataires de chèques entreprises en Transformation Digitale en Région Wallonne.</p>
  </div>
</div>

<%= erb :"partials/quick-menu" %>
<%= erb :"partials/contact" %>
<%= erb :"partials/footer" %>
